# Data files
*.csv
*.zip
*.sqlite
data/

# Model files
final_model/
results/
checkpoint-*/

# Credentials
.kaggle/
kaggle.json

# Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Logs
logs/
mlruns/

# OS
.DS_Store
hashes.txt
lambda_deployment/model/

# Node/React
node_modules/
dist/
.vite/
lambda_deployment/response*.json
